	<table class="table table-striped">
		<%= link_to 'Show All', logs_path %>
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Created On</th>
							<th scope="col">Thumb Nails</th>
						</tr>
					</thead>
				<tbody>
					<% @search_results_logs.each do |log| %>
						<tr>
							<td class = "log-title"><%= log.title %></td>
							<td><%= log.created_at.strftime('%d.%m.%Y') %></td>
							<td> <%= cl_image_tag(log.image, :width => 50, :fetch_format=>:auto, :crop=>"scale")%></td>
							<td>
								<%= link_to 'Show', log_path(log)%>
							</td>
							<td>
								<%= link_to 'Edit', edit_log_path(log)%>
							</td>
							<td>
								<%= link_to 'Delete', log_path(log),
								method: :delete,
								data: { confirm: 'Are you really sure you want to delete this entry??' } %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>