<h1>Edit Log</h1>

<%= form_with scope: :log, model: @log, local: true do |form| %>
  <p>
    <%= form.label :title, 'Entry Title' %><br>
    <%= form.text_field :title %><br>
		<%= form.label :content, "Content - Great! Felt better?" %><br>
		<%= form.text_area :content, :cols=>40, :rows=>15 %><br>
		<%= form.label :picture %><br>
		<%= cl_image_tag(@log.image) %><br>
    <%= form.file_field :picture %><br>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', log_path, class: 'btn btn-primary' %>


