

<h4> Entry Title: </h4>
<p>
  <%= @log.title %> <br/>
</p>

<h4> Content:</h4>
<p>
	<% if @log.content == nil %>
		<%= '' %>
	<% else %>
		<%= simple_format(@log.content) %>
	<% end %>
</p>

<%= link_to 'Back', logs_path, class: 'btn btn-primary' %> |
<%= link_to 'Edit',  edit_log_path, class: 'btn btn-secondary' %> <br/><br/>

<%= cl_image_tag(@log.image, :width => 350, :fetch_format=>:auto, :crop=>"scale") %> <br/>


